/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Signika", sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

figure > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.wrapper {
  padding-top: 115px;
  padding-bottom: 105px;
  max-width: 1733px;
  width: 90.26%;
  margin: 0 auto;
}
@media (max-width: 1023px) {
  .wrapper {
    width: 96%;
    margin: 0 auto;
  }
}

span[title="Play Video"] {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  color: rgba(193, 199, 205, 0.7);
  font-size: 0;
  transform: translate(-50%, -50%);
  transition: color 1s ease-in-out;
}
span[title="Play Video"]::before {
  content: "\f04b";
  font-family: "Font Awesome 5 Free";
  font-size: 45px;
  font-weight: 900;
}
span[title="Play Video"]:hover {
  color: #fff;
  cursor: pointer;
}

.etiam > .wrapper > h3, .nam-eu > .wrapper > h3, .aliquam > .wrapper > h3 {
  margin-bottom: 40px;
  color: #fff;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

.etiam > .wrapper > p, .nam-eu > .wrapper > p, .aliquam > .wrapper > p {
  margin-bottom: 70px;
  color: #76766f;
  font-size: 21px;
  text-align: center;
}

.aliquam-concerts__item, .nam-eu-concerts__item {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.aliquam-concerts__item > figure, .nam-eu-concerts__item > figure {
  position: relative;
}
.aliquam-concerts__item > figure > img, .nam-eu-concerts__item > figure > img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.aliquam-concerts__item > p, .nam-eu-concerts__item > p {
  padding: 35px 4%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #31424b;
  color: #76766f;
  font-size: 21px;
  line-height: 35px;
  flex-grow: 1;
}

.etiam-concerts__item > figure {
  position: relative;
}
.etiam-concerts__item > figure > img {
  border-radius: 5px;
}

header {
  width: 100%;
  padding: 15px 1.32%;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  display: flex;
  background: rgba(19, 31, 56, 0.7);
  color: white;
  align-items: center;
  justify-content: space-between;
}
header > h1 > a {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}
header > h1 span {
  color: #76766f;
  font-size: 20px;
  font-weight: normal;
}

.nav > span {
  color: #76766f;
  font-size: 18px;
  transition: color 1s ease-in-out;
}
.nav > span::before {
  content: "\f0c9";
  margin-right: 10px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.nav > span:hover {
  color: #fff;
  cursor: pointer;
}
.nav__list {
  display: none;
}

footer {
  background: #020B13;
}

.concerts {
  margin-bottom: 80px;
  display: flex;
}
.concerts > li {
  margin-right: 3.29%;
  flex: 1;
}
.concerts > li:last-child {
  margin-right: 0;
}
.concerts > li > h4 {
  margin-bottom: 30px;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}

.concert-links > li {
  border-bottom: 1px solid #76766f;
}
.concert-links > li:last-child {
  border-bottom: none;
}
.concert-links > li > a {
  padding: 15px 0;
  display: inline-block;
  color: #76766f;
  font-size: 18px;
  transition: color 1s ease-in-out;
}
.concert-links > li > a:hover {
  color: #fff;
}

.social-links {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
.social-links__item {
  margin-right: 1.32%;
}
.social-links__item:last-child {
  margin-right: 0;
}
.social-links__link {
  display: inline-block;
  color: #76766f;
  font-size: 0;
  transition: color 1s ease-in-out;
}
.social-links__link::before {
  font-family: "Font Awesome 5 Brands";
  font-size: 30px;
  font-weight: 400;
}
.social-links__link[title=Twitter]::before {
  content: "\f099";
}
.social-links__link[title=Facebook]::before {
  content: "\f39e";
}
.social-links__link[title=Instagram]::before {
  content: "\f16d";
}
.social-links__link[title=Snapchat]::before {
  content: "\f2ab";
}
.social-links__link:hover {
  color: #fff;
}

.copyright-info {
  color: rgba(134, 130, 130, 0.349);
  text-align: center;
}
.copyright-info > a {
  color: #76766f;
  text-transform: capitalize;
  transition: color 1s ease-in-out;
}
.copyright-info > a[title=Templated] {
  text-transform: uppercase;
}
.copyright-info > a:hover {
  color: #fff;
}

.banner {
  position: relative;
}

.banner-content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.banner-content > h2 {
  margin-bottom: 45px;
  color: #fff;
  font-size: 64px;
  font-weight: bold;
}
.banner-content > p {
  margin-bottom: 45px;
  color: #76766f;
  font-size: 26px;
  line-height: 40px;
}
.banner-content a {
  padding: 22px 35px;
  border: 1px solid #76766f;
  border-radius: 2px;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  transition: background 1s ease-in-out, color 1s ease-in-out;
}
.banner-content a:hover {
  background: #fff;
  color: #020B13;
}

.nam-eu, .aliquam {
  background: #253747;
}
.nam-eu-concerts {
  display: flex;
}
.nam-eu-concerts__item {
  margin-right: 3.69%;
}
.nam-eu-concerts__item:last-child {
  margin-right: 0;
}

.etiam {
  background: #0c1c23;
}
.etiam > .wrapper > h3 {
  text-align: left;
}
.etiam > .wrapper > p {
  text-align: left;
}

.etiam-content {
  display: flex;
}

.etiam-names {
  min-width: 265px;
  margin-right: 2.63%;
  flex-basis: 17.5%;
}
.etiam-names__item {
  margin-bottom: 10px;
}
.etiam-names__item:last-child {
  margin-bottom: 0;
}
.etiam-names__link {
  padding: 12px 20px;
  border-radius: 5px;
  display: block;
  background: #31424b;
  color: #76766f;
  font-size: 18px;
  transition: background 1s ease-in-out, color 1s ease-in-out;
}
.etiam-names__link:hover {
  background: #aa14cc;
  color: white;
  cursor: pointer;
}
.etiam-names__link.selected {
  background: #aa14cc;
  color: white;
}

.etiam-concerts {
  display: flex;
  flex-wrap: wrap;
  gap: 35px 3.5%;
}
@media (max-width: 1199px) {
  .etiam-concerts {
    gap: 25px 3.5%;
  }
}
.etiam-concerts__item {
  flex-basis: 31%;
}
@media (max-width: 1199px) {
  .etiam-concerts__item {
    flex-basis: 46.5%;
  }
}

.aliquam {
  background: #252c34;
}

.aliquam-concerts {
  display: flex;
}
.aliquam-concerts__item {
  margin-right: 3.29%;
}
.aliquam-concerts__item:last-child {
  margin-right: 0;
}
.aliquam-concerts__item > p {
  background: #333a3b;
}

/*# sourceMappingURL=styles.css.map */
