.aliquam {
    @extend .nam-eu;
    background: returnMap($colors, color9);
}

.aliquam-concerts {
    display: flex;
    @include mediaQuery(tablet) {
        flex-wrap: wrap; 
        justify-content: center;
        gap: 25px 4%;
    }
    @include mediaQuery(mobile) { 
        flex-direction: column;
        flex-wrap: nowrap;
        gap: unset;
    }
    &__item {
        @extend %concert-card;
        margin-right: 3.29%;
        @include mediaQuery(tablet) { 
            margin-right: 0;
            flex: unset;
            flex-basis: 48%;
        }
        @include mediaQuery(mobile) {
            margin-right: 0;
            margin-bottom: 15px;
        }
        &:last-child { 
            margin-right: 0;
            @include mediaQuery(mobile) { margin-bottom: 0; }
        }
        > p { background: returnMap($colors, color10); }
    }
}