.banner { 
    position: relative;
    @include mediaQuery(mobile) { position: static; }
}

.banner-content {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    @include mediaQuery(mobile) {
        padding: 75px 0;
        position: static;
        background: #060c38;
        transform: unset;
    }
    > h2 {
        margin-bottom: 45px;
        color: returnMap($colors, color4);
        font-size: 64px;
        font-weight: bold;
        @include mediaQuery(tablet) {
            margin-bottom: 30px;
            font-size: 44px;
        }
        @include mediaQuery(mobile) {
            margin-bottom: 25px;
            font-size: 32px;
        }
    }
    > p {
        margin-bottom: 45px;
        color: returnMap($colors, color2);
        font-size: 26px;
        line-height: 40px;
        @include mediaQuery(tablet) {
            margin-bottom: 30px;
            font-size: 20px;
            line-height: 28px;
        }
        @include mediaQuery(mobile) {
            margin-bottom: 25px;
            font-size: 18px;
            line-height: 26px;
        }
    }
    a {
        padding: 22px 35px;
        border: 1px solid returnMap($colors, color2);
        border-radius: 2px;
        display: inline-block;
        color: returnMap($colors, color4);
        font-size: 20px;
        font-weight: bold;
        transition: background 1s ease-in-out, color 1s ease-in-out;
        @include mediaQuery(tablet) {
            padding: 15px 25px;
        }
        @include mediaQuery(tablet) {
            padding: 10px 20px;
            font-size: 18px;
        }
        &:hover {
            background: returnMap($colors, color4);
            color: returnMap($colors, color11);
        }
    }
}