.nam-eu {
    background: returnMap($colors, color5);
    > .wrapper {
        > h3 { @extend %heading; }
        > p { @extend %paragraph; }
    }
}

.nam-eu-concerts {
    display: flex;
    @include mediaQuery(mobile) { flex-direction: column; }
    &__item {
        @extend %concert-card;
        margin-right: 3.69%;
        @include mediaQuery(mobile) {
            margin-right: 0;
            margin-bottom: 20px;
        }
        &:last-child { 
            margin-right: 0; 
            @include mediaQuery(mobile) { margin-bottom: 0; }
        }
    }
}