* { box-sizing: border-box; }
body { font-family: $fontFamily; }

a {
    color: unset;
    text-decoration: none;
}

figure {
    > img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
    }
}

.wrapper {
    max-width: 1733px;
    width: 90.26%;
    margin: 0 auto;
    @include mediaQuery(tablet) {
        width: 96%;
        margin: 0 auto;
    }
}