$fontFamily: 'Signika', sans-serif;;

$breakpoints: (
    tablet: 1023px,
    mobile: 767px
);

$colors: (
    color1: rgba(19, 31, 56, 0.7),
    color2: #76766f,
    color3: rgba(193, 199, 205, 0.7),
    color4: #fff,
    color5: rgba(37,55,71,1),
    color6: #31424b,
    color7: rgba(36,50,61,1),
    color8: rgba(170, 20, 204, 1),
    color9: rgba(37,44,52,1),
    color10: #333a3b,
    color11: #020B13
);