footer { background: returnMap($colors, color11); }

.concerts {
    margin-bottom: 80px;
    display: flex;
    @include mediaQuery(mobile) { flex-direction: column; }
    > li { 
        margin-right: 3.29%;
        flex: 1;
        @include mediaQuery(mobile) {
            margin-right: 0;
            margin-bottom: 20px;
            flex: unset;
        }
        &:last-child { 
            margin-right: 0;
            @include mediaQuery(mobile) { margin-bottom: 0; }
        }
        > h4 {
            margin-bottom: 30px;
            color: returnMap($colors, color4);
            font-size: 30px;
            font-weight: bold;
            text-transform: capitalize;
            @include mediaQuery(tablet) { font-size: 24px; }
            @include mediaQuery(mobile) {
                margin-bottom: 25px;
                font-size: 20px;
                text-align: center; 
            }
        }
    }
}

.concert-links {
    > li {
        border-bottom: 1px solid returnMap($colors, color2);
        @include mediaQuery(mobile) {
            border-bottom: none;
            text-align: center;
        }
        &:last-child { border-bottom: none; }
        > a {
            padding: 15px 0;
            display: inline-block;
            color: returnMap($colors, color2);
            font-size: 18px;
            transition: color 1s ease-in-out;
            @include mediaQuery(tablet) { font-size: 16px; }
            @include mediaQuery(mobile) {
                padding: 10px 0;
                font-size: 14px;
            }
            &:hover { color: returnMap($colors, color4); }
        }
    }
}

.social-links {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    &__item {
        margin-right: 1.32%;
        @include mediaQuery(tablet) { margin-right: 2.5%; }
        @include mediaQuery(mobile) { margin-right: 3%; }
        &:last-child { margin-right: 0; }
    }
    &__link {
        display: inline-block;
        color: returnMap($colors, color2);
        font-size: 0;
        transition: color 1s ease-in-out;
        &::before {
            font-family: "Font Awesome 5 Brands";
            font-size: 30px;
            font-weight: 400;
            @include mediaQuery(tablet) { font-size: 24px; }
            @include mediaQuery(mobile) { font-size: 20px; }
        }
        &[title="Twitter"]::before { content: "\f099"; }
        &[title="Facebook"]::before { content: "\f39e"; }
        &[title="Instagram"]::before { content: "\f16d"; }
        &[title="Snapchat"]::before { content: "\f2ab"; }
        &:hover { color: returnMap($colors, color4); }
    }
}

.copyright-info {
    color: rgba(134, 130, 130, 0.349);
    font-size: 16px;
    text-align: center;
    @include mediaQuery(tablet) { font-size: 14px; }
    @include mediaQuery(tablet) { font-size: 12px; }
    > a {
        color: returnMap($colors, color2);
        text-transform: capitalize;
        transition: color 1s ease-in-out;
        &[title="Templated"] { text-transform: uppercase; }
        &:hover { color: returnMap($colors, color4); }
    }
}